.comonn{
    position: relative;
}
.fa-angle-left{
    height: 30px;
    width: 30px;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    font-size: 20px;
    color: rgb(27, 53, 247);
    background-color: rgb(230, 245, 245);
    padding: 5px;
    border-radius: 50%;
    
    
}
.fa-angle-right{
    height: 30px;
    width: 30px;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    font-size: 20px;
    color: rgb(217, 220, 244);
    background-color: rgb(108, 76, 234);
    padding: 5px;
    border-radius: 55%;
}
@media only screen and (max-width:688px){
    .banner img{
        height: 500px;
    }
}
